* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: left;
}

body {
    width: 100%;
    height: 100vh;
    margin: 50px 0px;

    display: flex;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

form {
    width: 400px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: #ccc;
    border-radius: 10px;
}

hr {
    margin: 10px 0px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    border: solid #ccc 1px;
    border-radius: 5px;
}

input[type="submit"] {
    width: 50%;
    padding: 10px;

    margin: 0px auto;
    margin-bottom: 10px;

    background-color: #333;
    border: solid #ccc 1px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.check {
    width: 100%;
    margin: 10px 0px;

    display: flex;
    justify-content: left;
}

.anagrafica {
    max-width: 50%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

table, tr, td {
    width: 100%;
    border: solid #ccc 1px;
    padding: 5px;
}