* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f3f3f3;

    margin: 50px 0px;

    font-family: Arial, Helvetica, sans-serif;

    gap: 50px;
}

table {
    max-width: 80%;
    height: fit-content;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: #ccc;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: left;

    border-bottom: solid #f3f3f3 2px;
}

button {
    color: #333;
    text-decoration: none;
    background-color: #ccc;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}