* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    background-color: #f3f3f3;

    margin: 50px 0px;

    font-family: Arial, Helvetica, sans-serif;

    gap: 50px;
}

form {
    width: 400px;
    height: fit-content;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: #ccc;
    border-radius: 10px;
}

hr {
    margin: 20px 0px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    border: solid #ccc 1px;
    border-radius: 5px;
}

input[type="submit"] {
    width: 50%;
    padding: 10px;

    margin: 0px auto;
    margin-bottom: 10px;

    background-color: #333;
    border: solid #ccc 1px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.check {
    width: 100%;
    margin: 10px 0px;

    display: flex;
    justify-content: left;
}

.check input {
    width: auto;
    margin-right: 10px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

table, tr, td, th{
    width: 100%;
    border: solid #ccc 1px;
    padding: 5px;
}

.anagrafica {
    max-width: 50%;
}