@font-face {
  font-family: Google Sans;
  src: url(../font/static/GoogleSans-Regular.ttf);
}

:root {
    --white: #fff;
    --grey: #555;
    --ciano: #A9B4FF;
    --black: #000;
    --shadow: #0000004d;
    --glass: #57575733;

    --width-lista-chat: 500px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Google Sans;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('../storage/img/background.svg');
    background-size: cover;
    height: 100vh;
}

.notifica {
    position: absolute;
    top: 20px;
    background-color: var(--ciano);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px var(--shadow);
    color: var(--white);
    font-size: 14px;
}